*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:#F0A5BB;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
    text-shadow: 2px 2px #AF516C

}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #AF516C;
}

.search{
    width: 330px;
    float: left;
    margin-top: 10px;
    margin-left: 250px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #AF516C;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #AF516C;
    border: 2px solid #AF516C;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #AF516C;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.content .sum img {
    float: left;
}

.content .avg img {
    float: right;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #AF516C;
    font-size: 60px;

}

.block1{
    float:left;
    font-family: 'Times New Roman';
    font-size: 30px;
    color: #E890AA;
    font-weight: bold;
    text-shadow: 2px 2px #510F22

}

.block1 .mcon li{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-top: 10px;
    list-style-type: none;
    font-family: 'Arial';
    font-weight: 100;
}
.block2{
    float: right;
    font-family: 'Times New Roman';
    font-size: 30px;
    color: #E890AA;
    font-weight: bold;
    text-shadow: 2px 2px #510F22
}
.block2 .pcon li{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-top: 10px;
    list-style-type: none;
    font-family: 'Arial';
    font-weight: 100;
}

.block3{
    float: left;
    font-family: 'Times New Roman';
    font-size: 30px;
    color: #E890AA;
    font-weight: bold;
    text-shadow: 2px 2px #510F22
}

.block3 .ccon li{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-top: 20px;
    list-style-type: none;
    font-family: 'Arial';
    font-weight: 100;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #AF516C;
    font-size: 40px;
    margin-bottom: 5px;
    font-family: "Arial";
}
.contact-left-title hr{
    border: none;
    width:120px;
    height: 5px;
    background-color: #AF516C;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #AF516C;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #AF516C;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #FF5733 , #AB6E95 );
    cursor: pointer;
}

